@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Leonardo da Vinci</h1>
    <p class="lead">Portfólio Online</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Portfólio</h2>
        <p>
            Confira meus trabalhos.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Portfolio", "Home")">Portfólio</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contato</h2>
        <p>Entre em contato.</p>
        <p><a class="btn btn-default" href="/home/contact">Contato</a></p>
    </div>
</div>